

        <div id="page-wrapper">
            <div class="container-fluid">
                <div id="about-intro" class="row">
                    <div class="col-lg-12 text-center">
                        <h1> About Us</h1>
                        <div class="divider"></div>
                            <h2>What is this?</h2>
                            <p> The Scopito Marketplace helps drone operators and companies that need inspections performed by drones find each other on a common platform. <br/>
                                Our website is different from other solutions by providing drone operators a platform where they can freely advertise and brand themselves.
                            </p>
                            <h2>How do I use it?</h2>
                            <p> If you are looking for drone operators, then you don’t need to do anything special. Just go to the search page, choose your search criteria, then click search and you will find all the relevant drone operators in our system. <br/>
                                Afterwards, it is completely up to you and the operator to organize and negotiate about the actual flight mission.
                            </p>
                            <h2>I am a drone operator, how do I sign up?</h2>
                            <p>If you already have a Scopito account (free or otherwise), then you just choose Profile on the dashboard, and choose edit profile. Fill out the required information, and use the freely editable area to personalize your page – or don’t. <br/>
                                Your profile will only be indexed in the search results if you press the big “Publish” button on the bottom of the page. <br/>
                                If you are not yet signed up with Scopito, please click the Scopito icon on the dashboard, and sign up for a free account, then follow the steps above.
                            </p>
                    </div>
                </div>
                <div class="divider"></div>
                <div id="about-faq" class="row">
                    <div class="col-lg12 text-center">
                        <h1>FAQ</h1>
                        <div class="divider"></div>
                        <h2>What is Scopito?</h2>
                        <p> Scopito is a cloud-based service that creates an efficient workflow for carrying out image-based inspections mainly taken by drones. <br/>
                            It is an excellent way of delivering results instead of using Dropbox or handing over a USB stick. We also offer image analysis capabilities. <br/>
                            See more at: http://www.scopito.com
                        </p>
                        <h2>Is it really free?</h2>
                        <p> The service is 100% free. You are of course welcome to subscribe to a paid package with Scopito that will provide you more storage space :)</p>
                        <h2>What is Scopito Certification?</h2>
                        <p>The Scopito Certification is given to operators that are willing to showcase that they are professionals in both flight as well as business. </p>
                        <h2>What benefits does Scopito Certification give me?</h2>
                        <p>On the Marketplace, you get a nice band that you can put on your profile and cover images, and your profile will enjoy priority over non-Scopito certified profiles in the search listings.</p>
                    </div>
                </div>


            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->


    <!-- /#wrapper -->



