
<!-- Search bar -->
<div ng-include="'partials/search-bar.html'"></div>
<!-- /Search bar -->
<!-- Search area -->
<div id="page-wrapper" class="bordered">

    <div id="search-area" class="container-fluid">

        <div id="search-area-head" class="row">
            <div class="col-lg-8">
                <h2>Search Results</h2>
            </div>
            <div id="sort-by-btn" class="col-lg-2 text-center">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle btn-md" type="button" data-toggle="dropdown">
                        Sort By
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="option1">Option1</a></li>
                        <li><a href="option2">Option2</a></li>
                    </ul>
                </div>
            </div>
            <div id="view-btns" class="col-lg-2 text-center">
                <a href="" id="grid-btn" class="btn btn-primary btn-md" data-toggle="tooltip" title="Grid View" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'" ><span class="glyphicon glyphicon-th"></span></a>
                <a href="" id="list-btn" class="btn btn-primary btn-md" data-toggle="tooltip" title="List View" ng-class="{active: layout == 'list'}" ng-click="layout = 'list'" ><span class="glyphicon glyphicon-list"></span></a>
            </div>
        </div>
        <div class="divider" ng-click="show()" ></div> <!-- ng-init="showModal()" -->
        <!-- Grid and List View -->
            <div ng-show="layout == 'grid'">
                <div ng-include="'partials/search-grid.html'"></div>
            </div>
            <div ng-show="layout == 'list'">
                <div ng-include="'partials/search-list.html'"></div>
            </div>
        <!-- /Grid and List View -->
        <!-- Pagination -->
        <div ng-include="'partials/search-pagination.html'"></div>
        <!-- /Pagination -->
    </div>
</div>

<!-- Bootstrap Toggle -->
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>






