<!-- Welcome Modal -->
<div id="welcome-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-body text-center">
                <p class="lead">Hello there! Are you looking for drone operators?
                    Use the search options on the top to find your next partner!</p>
                <p class="text-uppercase"><em>-&nbsp;or&nbsp;-</em><br></p>
                <p class="lead">Are you a drone operator? Sign up with Scopito to create your profile! (Don't worry, it's free!)</p>
            </div>
            <div class="modal-footer">
                <button id="modal-search-btn" type="button" class="btn btn-default btn-lg" data-dismiss="modal" ng-click="close(Search)">Let me search</button>
                <a href="https://app.scopito.com/#/registration"><button type="button" class="btn btn-primary btn-lg">Take me to sign up</button></a>
            </div>
        </div>

    </div>
</div>
<!-- /Welcome Modal -->
<!--
<md-dialog aria-label="Hi There!">
<form ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Hi There!</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
       <div>
           <p class="lead">Hello there! Are you looking for drone operators?
               Use the search options on the top to find your next partner!</p>
           <p class="text-uppercase"><em>-&nbsp;or&nbsp;-</em><br></p>
           <p class="lead">Are you a drone operator? Sign up with Scopito to create your profile! (Don't worry, it's free!)</p>
       </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">
            Let me search!
        </md-button>
        <md-button href="https://app.scopito.com/#/registration">
            Take me to sign up!
        </md-button>
    </md-dialog-actions>
</form>
</md-dialog> -->

<!-- Based on AngularJS Material demo
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->