.thomasNavbarFooter
{

}
.myNavBarFontColor
{
  color: black;
}

.companyInfoTextPadding > div
{
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 20px;
  text-align: left;

}

.companyDivHeaderborder
{
  border-top: 1px solid #12b2c0;
  border-bottom: 1px solid #12b2c0;
  padding: 25% 0% 25% 0%;
}

.companyDivServiceinfoPadding
{
  padding-top: 5%;
  padding-bottom: 10%;
  font-size: 20px;
  text-align: center;
}

#ThomasborderToCommentSection
{
border-bottom: 1px solid #12b2c0;
}

#ThomasReviewTextSizeAdjust
{
width: 100%;
height: 20px;
}

.parallax
{
 /* The image used */

    background-image: url('../images/coverIMG1.jpg');
    /* Set a specific height */
    height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: scrolling;
    background-position: center;
    background-size: cover;
}

#navigation .nav > li > a:hover{
    background-color: transparent !important;
}